.footer__bottom {
    margin-top: 18px !important;
}

footer .footer-contact ul{
    margin: 0
}

footer .footer-contact ul li {
    margin-right: 20px;
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;    
}



