html {
  scroll-behavior: smooth;
}

#header .back-to-top {
  color: #ffffff;
  background-color: rgba(53, 162, 44, 0.5);
  text-align: center;
  font-size: 20px;
  border-radius: 5000px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

#header .back-to-top:hover {
  color: yellow;
  border: 1px solid #35a22c;
  box-shadow: 0 0 15px #35a22c;
  background-color: rgba(0, 0, 0, 1);
}

#header .sign-in-up .sign-in,
#header .sign-in-up .sign-up{
  color: white;
  border-radius: 10px;
  border: 2px solid transparent;

  animation: animate-changecolor 1s linear infinite;
  animation-delay: calc(-0.25s * var(--i));
  transform-origin: 20px;
  transition: 0.5s;
}

#header .sign-in-up .sign-in:hover,
#header .sign-in-up .sign-up:hover{
  color: yellow;
  border: 2px solid yellow;
  box-shadow: 0 0 15px yellow;
}

@keyframes animate-changecolor {
0% {
  filter: rotate(0deg);
}
100% {
  filter: hue-rotate(360deg); 
}
}

/* -------- Logo ------- */
#header .header__logo:hover{
  background-color: black;
  border: 2px solid yellow;
  border-radius: 50%;
  box-shadow: 0 0 10px yellow;
}

/* -------- Home Menu ------- */
/* Khung tròn */
#header .navigation-indicator {
  position: absolute;
  width: 95px;
  height: 95px;
  top: -40px;
  background-color: black;
  z-index: 1;
  transition: 0.5s;
  border-radius: 50%;
}

/* Khung chữ nhật */
/* #header .navigation-indicator {
  position: absolute;
  width: 95px;
  height: 70px;
  top: -32px;
  background-color: black;
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
} */

#header .navigation {
  position: relative;
  width: 400px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 25px;
}

#header .navigation ul {
  display: flex;
  width: 420px;
}

#header .navigation ul li {
  list-style: none;
  position: relative;
  width: 100px;
  height: 60px;
  z-index: 2;
}

#header .navigation ul li .navLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#header .navigation ul li .navLink .icon {
  position: relative;
  display: block;
  line-height: 70px;
  font-size: 1.6em;
  transition: 0.5s;
  color: transparent;
}

#header .navigation ul li.navigation-active .navLink .icon {
  transform: translateY(-30px);
  color: yellow;
}

#header .navigation ul li .navLink .text {
  position: absolute;
  color: white;
  padding: 3px 6px;
  padding-bottom: 8px;
  border-radius: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(15px);
  opacity: 1;
  font-size: 15px;
  bottom: 17px;
}

#header .navigation ul li .navLink .text:hover {
  color: yellow;  
}


#header .navigation ul li.navigation-active .navLink .text {
  transform: translateY(0);
  color: yellow;
  opacity: 1;
}

#header .navigation-indicator::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  left: -26px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 20px 18px transparent;
}

#header .navigation-indicator::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  right: -26px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -20px 18px transparent;
}

#header .navigation ul li:nth-child(1).navigation-active ~ .navigation-indicator {
  transform: translateX(calc(3px + 100px * 0));
    box-shadow: 0 0 15px yellow;
    border: 2px solid  yellow;
}
#header .navigation ul li:nth-child(2).navigation-active ~ .navigation-indicator {
  transform: translateX(calc(3px + 100px * 1));
    box-shadow: 0 0 15px yellow;
    border: 2px solid  yellow;
}
#header .navigation ul li:nth-child(3).navigation-active ~ .navigation-indicator {
  transform: translateX(calc(3px + 100px * 2));
    box-shadow: 0 0 15px yellow;
    border: 2px solid  yellow;
}
#header .navigation ul li:nth-child(4).navigation-active ~ .navigation-indicator {
  transform: translateX(calc(3px + 100px * 3));
    box-shadow: 0 0 15px yellow;
    border: 2px solid  yellow;
}


