#HomeMenuMobile .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0 !important;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab > div {
  padding-right: 20px !important;
}

#HomeMenuMobile .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane
  > .p-10 {
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-top: 0 !important;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  margin-top: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 5px;
}

#HomeMenuMobile .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane
  > .p-10:hover div
   {
  background-color: #e5e7eb;  
}

#HomeMenuMobile .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane
  > .p-10:last-of-type {
  padding-bottom: 0;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab:hover {
  background-color: #e5e7eb;
  box-shadow: 0 0 5px black;
}


.dropdown:hover .dropdown-menu {
  display: block;
}