#HomeMenuMobile
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane
  > .p-10 {
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  margin-top: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 5px;
}

#HomeMenuMobile
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane
  > .p-10:last-of-type {
  padding-bottom: 0;
}

#HomeMenuMobile .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab:hover {
  background-color: #e5e7eb;
  box-shadow: 0 0 5px black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#HomeMenu .booking-film-info-time {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  row-gap: 10px;
  column-gap: 4px;
}

@media screen and (max-width: 1150px) {
  #HomeMenu .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1070px) {
  #HomeMenu .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #HomeMenu .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #HomeMenu .booking-film-info-time {
    grid-template-columns: 1fr 1fr;
  }
}

#HomeMenu .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}
