#HomeMenuMobile .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}

#HomeMenuMobile .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
  background-color: rgb(230, 230, 230);
  color: black;
}

#HomeMenuMobile .ant-tabs > .ant-tabs-nav {
  margin-bottom: 0;
}

#HomeMenuMobile .booking-film .booking-film-info {
  padding: 16px;
}

#HomeMenuMobile .booking-film .booking-film-info  > div{
  font-size: 24px;
}

/* Responsive giờ chiếu 
    - Bình thường 6 cột
    - Màn hình < 600px 5 cột
    - Màn hình < 520px 4 cột
*/
#HomeMenuMobile .booking-film .booking-film-info-time {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  row-gap: 10px;
  column-gap: 4px;
}

@media screen and (max-width: 600px) {
  #HomeMenuMobile .booking-film .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 520px) {
  #HomeMenuMobile .booking-film .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  #HomeMenuMobile .booking-film .booking-film-info-time {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #HomeMenuMobile .booking-film .booking-film-info p:last-of-type{
    display: none;
  }
  #HomeMenuMobile .booking-film .booking-film-info {
    padding: 12px 16px;
  }
  #HomeMenuMobile .booking-film .booking-film-info  > div{
    font-size: 16px;
  }  
}

@media screen and (max-width: 350px) {
  #HomeMenuMobile .booking-film .booking-film-info-time {
    column-gap: 0;
  }
}