#checkout .screen {
    border-bottom: 50px solid rgb(68, 68, 68);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width: 85%;
    font-size: 25px;
    color: #fff;
    margin-left: 35px;
    opacity: 0.8;
    filter: drop-shadow(4px 30px 20px rgb(255, 0, 0));
}

#checkout .ghe{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: gray;
}

#checkout .gheVip{
  background-color: aqua;
}

#checkout .gheDangDat{
  background-color: green;
}
#checkout .gheDaDat{
  background-color: red;
  cursor: no-drop;
}

#checkout .gheBanThanDat{
  background-color: yellow;
  box-shadow: 0 0 10px black;
  border: 1px solid black;
}

#checkout .gheNguoiKhacDangDat{
  background-color: orchid;
  cursor: no-drop;
}