/* #MultipleRowSlickMobile .mul-background{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} */
#MultipleRowSlickMobile > div > div {
  width: 100% !important;
}

#MultipleRowSlickMobile .mul-background img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#MultipleRowSlickMobile .film-card {
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
}

#MultipleRowSlickMobile .film-info {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
#MultipleRowSlickMobile .film-info p:nth-child(2),
#MultipleRowSlickMobile .film-info p:first-of-type {
  font-family: "Times New Roman", Times, serif;
}

#MultipleRowSlickMobile .booking-trailer-button .trailer-button,
#MultipleRowSlickMobile .booking-trailer-button .booking-button {
  border: 1px solid #35a22c;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

#MultipleRowSlickMobile .booking-trailer-button .trailer-button:hover,
#MultipleRowSlickMobile .booking-trailer-button .booking-button:hover {
  border: 1px solid black;
  color: white;
  background-color: #35a22c;
  box-shadow: 0 0 8px black;
  transition: 0.4s;
}

#MultipleRowSlickMobile .film-info p:nth-child(3) {
  display: none;
}

#MultipleRowSlickMobile .film-card {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  margin-bottom: 20px;
}

#MultipleRowSlickMobile .mul-background {
  grid-column: 1 / span 3;
}

#MultipleRowSlickMobile .film-info {
  grid-column: 4 / span 9;
}

@media screen and (max-width: 450px) {
  #MultipleRowSlickMobile .mul-background {
    display: none;
    grid-column: auto;
  }
  #MultipleRowSlickMobile .film-info {
    grid-column: 1 / span 12;
  }
  #MultipleRowSlickMobile .film-card {
    margin-bottom: 10px !important;
  }
  
}

@media screen and (max-width: 640px) {
  #MultipleRowSlickMobile .film-card {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 640px) {
  #MultipleRowSlickMobile .film-info p:nth-child(3) {
    display: block;
  }
}
