.slick-next:before {
  color: yellow !important;
  font-size: 3rem !important;
  background-color: yellow !important;
  border-radius: 50%;
  /* padding: 5px 2px 0px 2px; */

}

.slick-prev:before {
  color: yellow !important;
  font-size: 3rem !important;
  background-color: yellow !important;
  border-radius: 50%;
  /* position: absolute;
  left: -30px; */
  /* padding: 5px 2px 0px 2px; */
}

.slick-next:hover:before,
.slick-prev:hover:before{
  box-shadow: 0 0 15px yellow !important;
}

.width-item {
  width: 100% !important;
}

.active_Film {
  @apply bg-yellow-800 text-white;
}

.none_active_Film {
  @apply bg-white text-gray-800;
}

