.slick-next:before {
  color: black !important;
  font-size: 3rem !important;
}

.slick-prev:before {
  color: black !important;
  font-size: 3rem !important;
  position: absolute;
  left: -30px;
}

.width-item {
  width: 100% !important;
}

.active_Film {
  @apply bg-yellow-800 text-white;
}

.none_active_Film {
  @apply bg-white text-gray-800;
}
